.headerButton {
  @apply relative
  inline-flex items-center justify-center
  shadow-[inset_0_0_0_0.14em] shadow-secondary
  [&_svg]:size-auto
  text-secondary-foreground hover:text-white;
  padding: .1rem;
  font-size: .27rem;
  border: 0.1em solid black;
  border-radius: 9999px;
  height: .6rem;
  background: repeating-conic-gradient(#101010 0% 25%, #000000 0% 50%);
  background-size: 0.1rem 0.1rem;
  transition-property: color, transform;
  z-index: 0;

  &.contactMe {
    padding-inline: .3rem;
    margin-right: 0.1rem;
    color: black;
    font-size: .27rem;
    font-weight: bold;

    span{
      z-index: 1;
    }

    &::before {
      content: '';
      position: absolute;
      inset: -0.05rem;
      border-radius: inherit;
      background-image: linear-gradient(to right, #84cc16, #eab308);
      background-size: 400%;
      animation: spin-and-scale 2s infinite linear;
    }
  }
}

@keyframes spin-and-scale {
  0%, 100% {
    background-position: 0 50%;
    transform: scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.1);
  }
}