@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 0%;
        --foreground: 0 0% 100%;
        --card: 0 0% 26%;
        --card-foreground: 0 0% 13%;
        --card-content: 0 0% 7%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 73%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 11%;
        --accent-foreground: 0 0% 16%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 0%;
        --input: 0 0% 7%;
        --input-foreground: 0 0% 15%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --radius: 0.5rem
    }
}

@layer base {
    * {
        @apply m-0 p-0 box-border pointer-events-none;
    }

    body {
        @apply relative antialiased
        w-screen h-screen
        bg-background text-foreground
        font-sans text-[0.16rem] leading-snug
        scroll-smooth;
    }

    button, a, *::-webkit-scrollbar, nextjs-portal {
        @apply pointer-events-auto;
    }

    #layout {
        @apply relative size-full overflow-hidden;
    }

    #frame {
        @apply absolute h-full aspect-[16/7] left-1/2 -translate-x-1/2 overflow-hidden;
    }

    #landing {
        @apply h-full;
    }

    .landing-section {
        @apply absolute inset-0 z-0;
    }

    .fixed-section {
        @apply z-50;
    }

    section {
        @apply absolute top-[2.03rem] left-[3.6rem] right-[4.6rem] h-[6.6rem]
        text-[0.21rem] z-50;
    }

    .highlight {
        @apply text-primary italic font-semibold;
        font-family: system-ui;
    }
}

@layer utilities {
    .bg-checkers {
        background: repeating-conic-gradient(#101010 0% 25%, #000000 0% 50%);
        background-size: 0.08rem 0.08rem;
    }

    .bg-skill-card {
        background: repeating-conic-gradient(rgba(38, 38, 38, 0.50) 0% 25%, rgba(16, 16, 16, 0.5) 0% 50%);
        background-size: 0.04rem 0.04rem;
    }

    .scroll-hidden::-webkit-scrollbar {
        display: none;
    }

    /* vertical scroll + */
    .vertical-scroll {
        @apply relative overflow-x-clip overflow-y-scroll h-full pointer-events-auto;
    }

    .vertical-scroll::-webkit-scrollbar {
        width: 0.2rem;
        background-color: black;
        border-radius: 100px;
        border: 0.02rem solid #303030;
    }

    .vertical-scroll::-webkit-scrollbar-track:disabled {
        border-radius: 100px;
        border: 0.06rem solid transparent !important;
        box-shadow: inset 0 0 0 1rem #7f7f7f !important;
    }

    .vertical-scroll::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 0.06rem solid transparent !important;
        box-shadow: inset 0 0 0 1rem #7f7f7f !important;
        background-clip: content-box;
    }

    .vertical-scroll::-webkit-scrollbar-button:single-button {
        display: block;
        background-size: 0.12rem;
        background-repeat: no-repeat;
    }

    /* Up */
    .vertical-scroll::-webkit-scrollbar-button:single-button:vertical:decrement {
        height: 0.12rem;
        width: 0.16rem;
        background-position: center 0.04rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(127,127,127)'><polygon points='50,00 0,50 100,50'/></svg>");
    }

    /* Down */
    .vertical-scroll::-webkit-scrollbar-button:single-button:vertical:increment {
        height: 0.12rem;
        width: 0.16rem;
        background-position: center 0.02rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(127,127,127)'><polygon points='0,0 100,0 50,50'/></svg>");
    }

    /* vertical scroll - */
    /* horizontal scroll + */
    .horizontal-scroll {
        @apply relative overflow-y-clip overflow-x-scroll w-full h-full pointer-events-auto;
    }

    .horizontal-scroll::-webkit-scrollbar {
        height: 0.2rem;
        background-color: black;
        border-radius: 100px;
        border: 0.02rem solid #303030;
    }

    .horizontal-scroll::-webkit-scrollbar-track:disabled {
        border-radius: 100px;
        border: 0.06rem solid transparent !important;
        box-shadow: inset 0 0 0 1rem #7f7f7f !important;
    }

    .horizontal-scroll::-webkit-scrollbar-thumb {
        border-radius: 100px;
        border: 0.06rem solid transparent !important;
        box-shadow: inset 0 0 0 1rem #7f7f7f !important;
        background-clip: content-box;
    }

    .horizontal-scroll::-webkit-scrollbar-button:single-button {
        display: block;
        background-size: 0.12rem;
        background-repeat: no-repeat;
    }

    /* Up */
    .horizontal-scroll::-webkit-scrollbar-button:single-button:horizontal:decrement {
        height: 0.12rem;
        width: 0.12rem;
        background-position: center 0.04rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(127,127,127)'><polygon points='100,00 100,100 50,50'/></svg>");
    }

    /* Down */
    .horizontal-scroll::-webkit-scrollbar-button:single-button:horizontal:increment {
        height: 0.12rem;
        width: 0.12rem;
        background-position: center 0.04rem;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(127,127,127)'><polygon points='00,00 00,100 50,50'/></svg>");
    }

    /* horizontal scroll - */
}